<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.db.dao.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.game.db.domain.GoodsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="req_level" jdbcType="INTEGER" property="reqLevel" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="equip_type" jdbcType="INTEGER" property="equipType" />
    <result column="item_type" jdbcType="INTEGER" property="itemType" />
    <result column="attrib" jdbcType="INTEGER" property="attrib" />
    <result column="icon" jdbcType="INTEGER" property="icon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="max_durability" jdbcType="INTEGER" property="maxDurability" />
    <result column="value" jdbcType="INTEGER" property="value" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="polar" jdbcType="INTEGER" property="polar" />
    <result column="mag_power" jdbcType="INTEGER" property="magPower" />
    <result column="phy_power" jdbcType="INTEGER" property="phyPower" />
    <result column="max_life" jdbcType="INTEGER" property="maxLife" />
    <result column="max_mana" jdbcType="INTEGER" property="maxMana" />
    <result column="def" jdbcType="INTEGER" property="def" />
    <result column="speed" jdbcType="INTEGER" property="speed" />
    <result column="double_type" jdbcType="INTEGER" property="doubleType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, req_level, `type`, equip_type, item_type, attrib, icon, `name`, color, unit, 
    max_durability, `value`, gender, polar, mag_power, phy_power, max_life, max_mana, 
    def, speed, double_type, add_time, update_time, deleted
  </sql>
  <select id="selectByExample" parameterType="com.game.db.domain.example.GoodsInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeyWithLogicalDelete" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where id = #{id,jdbcType=INTEGER}
      and deleted = 
    <choose>
      <when test="andLogicalDeleted">
        1
      </when>
      <otherwise>
        0
      </otherwise>
    </choose>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.game.db.domain.example.GoodsInfoExample">
    delete from goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.game.db.domain.GoodsInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_info (req_level, `type`, equip_type, 
      item_type, attrib, icon, 
      `name`, color, unit, 
      max_durability, `value`, gender, 
      polar, mag_power, phy_power, 
      max_life, max_mana, def, 
      speed, double_type, add_time, 
      update_time, deleted)
    values (#{reqLevel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{equipType,jdbcType=INTEGER}, 
      #{itemType,jdbcType=INTEGER}, #{attrib,jdbcType=INTEGER}, #{icon,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{maxDurability,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, 
      #{polar,jdbcType=INTEGER}, #{magPower,jdbcType=INTEGER}, #{phyPower,jdbcType=INTEGER}, 
      #{maxLife,jdbcType=INTEGER}, #{maxMana,jdbcType=INTEGER}, #{def,jdbcType=INTEGER}, 
      #{speed,jdbcType=INTEGER}, #{doubleType,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.game.db.domain.GoodsInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reqLevel != null">
        req_level,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="equipType != null">
        equip_type,
      </if>
      <if test="itemType != null">
        item_type,
      </if>
      <if test="attrib != null">
        attrib,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="maxDurability != null">
        max_durability,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="polar != null">
        polar,
      </if>
      <if test="magPower != null">
        mag_power,
      </if>
      <if test="phyPower != null">
        phy_power,
      </if>
      <if test="maxLife != null">
        max_life,
      </if>
      <if test="maxMana != null">
        max_mana,
      </if>
      <if test="def != null">
        def,
      </if>
      <if test="speed != null">
        speed,
      </if>
      <if test="doubleType != null">
        double_type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reqLevel != null">
        #{reqLevel,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="equipType != null">
        #{equipType,jdbcType=INTEGER},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=INTEGER},
      </if>
      <if test="attrib != null">
        #{attrib,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="maxDurability != null">
        #{maxDurability,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="polar != null">
        #{polar,jdbcType=INTEGER},
      </if>
      <if test="magPower != null">
        #{magPower,jdbcType=INTEGER},
      </if>
      <if test="phyPower != null">
        #{phyPower,jdbcType=INTEGER},
      </if>
      <if test="maxLife != null">
        #{maxLife,jdbcType=INTEGER},
      </if>
      <if test="maxMana != null">
        #{maxMana,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        #{def,jdbcType=INTEGER},
      </if>
      <if test="speed != null">
        #{speed,jdbcType=INTEGER},
      </if>
      <if test="doubleType != null">
        #{doubleType,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.game.db.domain.example.GoodsInfoExample" resultType="java.lang.Long">
    select count(*) from goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goods_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.reqLevel != null">
        req_level = #{record.reqLevel,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.equipType != null">
        equip_type = #{record.equipType,jdbcType=INTEGER},
      </if>
      <if test="record.itemType != null">
        item_type = #{record.itemType,jdbcType=INTEGER},
      </if>
      <if test="record.attrib != null">
        attrib = #{record.attrib,jdbcType=INTEGER},
      </if>
      <if test="record.icon != null">
        icon = #{record.icon,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.maxDurability != null">
        max_durability = #{record.maxDurability,jdbcType=INTEGER},
      </if>
      <if test="record.value != null">
        `value` = #{record.value,jdbcType=INTEGER},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.polar != null">
        polar = #{record.polar,jdbcType=INTEGER},
      </if>
      <if test="record.magPower != null">
        mag_power = #{record.magPower,jdbcType=INTEGER},
      </if>
      <if test="record.phyPower != null">
        phy_power = #{record.phyPower,jdbcType=INTEGER},
      </if>
      <if test="record.maxLife != null">
        max_life = #{record.maxLife,jdbcType=INTEGER},
      </if>
      <if test="record.maxMana != null">
        max_mana = #{record.maxMana,jdbcType=INTEGER},
      </if>
      <if test="record.def != null">
        def = #{record.def,jdbcType=INTEGER},
      </if>
      <if test="record.speed != null">
        speed = #{record.speed,jdbcType=INTEGER},
      </if>
      <if test="record.doubleType != null">
        double_type = #{record.doubleType,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goods_info
    set id = #{record.id,jdbcType=INTEGER},
      req_level = #{record.reqLevel,jdbcType=INTEGER},
      `type` = #{record.type,jdbcType=INTEGER},
      equip_type = #{record.equipType,jdbcType=INTEGER},
      item_type = #{record.itemType,jdbcType=INTEGER},
      attrib = #{record.attrib,jdbcType=INTEGER},
      icon = #{record.icon,jdbcType=INTEGER},
      `name` = #{record.name,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      max_durability = #{record.maxDurability,jdbcType=INTEGER},
      `value` = #{record.value,jdbcType=INTEGER},
      gender = #{record.gender,jdbcType=INTEGER},
      polar = #{record.polar,jdbcType=INTEGER},
      mag_power = #{record.magPower,jdbcType=INTEGER},
      phy_power = #{record.phyPower,jdbcType=INTEGER},
      max_life = #{record.maxLife,jdbcType=INTEGER},
      max_mana = #{record.maxMana,jdbcType=INTEGER},
      def = #{record.def,jdbcType=INTEGER},
      speed = #{record.speed,jdbcType=INTEGER},
      double_type = #{record.doubleType,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.game.db.domain.GoodsInfo">
    update goods_info
    <set>
      <if test="reqLevel != null">
        req_level = #{reqLevel,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="equipType != null">
        equip_type = #{equipType,jdbcType=INTEGER},
      </if>
      <if test="itemType != null">
        item_type = #{itemType,jdbcType=INTEGER},
      </if>
      <if test="attrib != null">
        attrib = #{attrib,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="maxDurability != null">
        max_durability = #{maxDurability,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="polar != null">
        polar = #{polar,jdbcType=INTEGER},
      </if>
      <if test="magPower != null">
        mag_power = #{magPower,jdbcType=INTEGER},
      </if>
      <if test="phyPower != null">
        phy_power = #{phyPower,jdbcType=INTEGER},
      </if>
      <if test="maxLife != null">
        max_life = #{maxLife,jdbcType=INTEGER},
      </if>
      <if test="maxMana != null">
        max_mana = #{maxMana,jdbcType=INTEGER},
      </if>
      <if test="def != null">
        def = #{def,jdbcType=INTEGER},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=INTEGER},
      </if>
      <if test="doubleType != null">
        double_type = #{doubleType,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.game.db.domain.GoodsInfo">
    update goods_info
    set req_level = #{reqLevel,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      equip_type = #{equipType,jdbcType=INTEGER},
      item_type = #{itemType,jdbcType=INTEGER},
      attrib = #{attrib,jdbcType=INTEGER},
      icon = #{icon,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      max_durability = #{maxDurability,jdbcType=INTEGER},
      `value` = #{value,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      polar = #{polar,jdbcType=INTEGER},
      mag_power = #{magPower,jdbcType=INTEGER},
      phy_power = #{phyPower,jdbcType=INTEGER},
      max_life = #{maxLife,jdbcType=INTEGER},
      max_mana = #{maxMana,jdbcType=INTEGER},
      def = #{def,jdbcType=INTEGER},
      speed = #{speed,jdbcType=INTEGER},
      double_type = #{doubleType,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="com.game.db.domain.example.GoodsInfoExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <update id="logicalDeleteByExample" parameterType="map">
    update goods_info set deleted = 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="logicalDeleteByPrimaryKey" parameterType="java.lang.Integer">
    update goods_info set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>